# Created by .ignore support plugin (hsz.mobi)
.gitignore
GENERIC_MODULE/src/main/java1/
GENERIC_MODULE/src/main/resources/
GENERIC_MODULE/src/test/
GENERIC_MODULE/target/generated-sources/
HealthInsurance/target/generated-sources/
HealthInsurance/target/generated-test-sources/
src/
